/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 10px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
	width: 100%;
	margin: auto;
}

*{
text-align: center;
}

body{

}

h3{
  margin-top: 40px;
}

li{
  list-style: none;
}

#mainBox{
  background-image: url(http://images.genius.com/66dcc06b58c51a9c3ed8d42abfdc4f3d.783x783x1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

#box, #box2{
  background-color: lightgray;
  width: 300px;
  height: auto;
  padding: 10px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media only screen and (max-width:1412px){
  #mainBox{
    background-image: url();
  }

  #box{
    margin: auto;
  }
}
  @media only screen and (max-width:400px){
    #box{
      width: 100%;
    }
  }
